@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --number-img: url(../img/0.jpg)
}

.overlay::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0000000a 11.7%, rgba(0, 0, 0, 0.041) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    width: 100%;
    height: 100%;
    z-index: 30;
    transition: .3s;
}

.active::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--number-img);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    opacity: 1;
}

@media screen and (min-width: 451px) {
    .group {
        width: 250px;
        margin: 10px;
    }
}

@media screen and (min-width: 1080px) {
    body {
        height: 100vh;
    }
    .alldev {
        height: 100%;
    }
    .group {
        width: 250px;
        margin: 10px;
    }
}